*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 1.5;
}

.flex{
    display: flex;
    align-items: center;
    
}

a{
  text-decoration: none;
}

.btn{
  background: $green;
  padding: 0.65em 2.5em;
  border: 1.8px solid $primary;
  border-radius: 0.25rem;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
  font-size: 1.05rem;
  margin-top: 1rem;
}

.quiz-container,.container{
    margin: 0 auto;
}

.quiz-container{
    padding: 2rem 0;
    max-width: 850px;
}

.container{
    max-width: 600px;
}

.index-container{
  max-width: 900px;
  margin: 0 auto;
}


/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: $primary;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba($color: $primary, $alpha: 1);
  position: absolute;
  left: 3.5%;
  top: 50%;
  transform: translateY(-50%) ;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 10%;
  left: 3.5%;
  border-radius: 0;
  color: #6cc0e5 !important;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}



input[type="checkbox"]:checked + label{
  color: white;
}