.table-data{
    position: relative;
    display: none;
    text-align: left;
    color: rgba($color: $primary, $alpha: 0.8);
    font-family: $font-family;
    .btn-retake{
        position: absolute;
        top: -3.2%;
    }
    .btn-share{
        position: absolute;
        right: 0;
        top: -3.2%;
        background: 55ACEE;
        color: white;
        border: 0;
        display: none;
    }
    caption{
        color: crimson;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .first{
        width: 45%;
        font-weight: bold;
        color: rgba($color: $primary, $alpha: 0.75);
        
    }
    .second{
        width: 20%;
    }
    .third{
        width: 20%;
    }
    .fourth{
        width: 15%;
        text-align: center;
    }
    td.fourth{
        font-size: 1.4rem;
    }
    th{
        font-weight: bold;
        color: rgba($color: $primary, $alpha: 0.75);
    }
    td,th{
        border: 1px solid black;
        padding: 0.45em 1em;
        vertical-align: middle;
    }
    .fa-check-circle{
        color: $green;
    }
    .fa-times-circle{
        color: crimson;
    }

    .table-summary{
        font-weight: bold;
    }
}