@import "reset";
@import "variables";
@import "typography";

// Quiz.html page related

@import "general";
@import "table";
@import "progress";
@import "question-container";


// Index page related
@import "index";

footer{
    margin-top: 2rem;
    text-align: center;
    a{
        color: rgb(102, 101, 104);
    }
}

.error-next{
    flex-direction: column;
    justify-content: center;
    .btn-next{
        justify-self: flex-end;
    }
}